<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="component" class="org.example.ioc_05.ComponentFactoryBean">
        <!-- 此处配置的属性是工厂的属性，如果想配置产品的属性，需要用工厂的属性作为中转, 并编写相应的Setter -->
        <property name="tmp" value="WTF"/>
    </bean>
</beans>